.constructor {
    margin-right: 50px;

    &__panel {
        cursor: grab;
        width: 240px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        &.cursor {
            cursor: default;
        }

        &.disabled {
            box-shadow: none;
            cursor: default;
            opacity: 0.5;
        }

        &-result {
            width: 232px;
            height: 52px;
            background: #F3F4F6;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0 8px;
            font-size: 36px;
            line-height: 44px;
            color: #111827;
            overflow: hidden;
            font-weight: 800;

            &.small {
                font-size: 24px;
            }
        }
    }


    &__operations {
        cursor: grab;
        width: 240px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        padding: 0 4px;

        &.cursor {
            cursor: default;
        }

        &.disabled {
            box-shadow: none;
            cursor: default;
            opacity: 0.5;
        }

        &-operation {
            width: 52px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #E2E3E5;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;

            &:hover {
                border: 2px solid #5D5FEF;
            }

            &:active {
                background: #5D5FEF;
                color: #fff;
            }
        }
    }

    &__numbers {
        cursor: grab;
        width: 240px;
        min-height: 224px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 12px;

        &.cursor {
            cursor: default;
        }

        &.disabled {
            box-shadow: none;
            cursor: default;
            opacity: 0.5;
        }

        &-number {
            width: 72px;
            height: 48px;
            background: #FFFFFF;
            border: 1px solid #E2E3E5;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;

            &:hover {
                border: 2px solid #5D5FEF;
            }

            &.zero {
                width: 152px;
            }

            &:active {
                background: #5D5FEF;
                color: #fff;
            }
        }
    }




    &__equals {
        cursor: grab;
        width: 240px;
        height: 72px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.cursor {
            cursor: default;
        }

        &.disabled {
            box-shadow: none;
            cursor: default;
            opacity: 0.5;
        }

        &-operation {
            width: 232px;
            height: 64px;
            background: #5D5FEF;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            color: #FFFFFF;
        }
    }

}



.constructor-block {

    .constructor__panel {
        box-shadow: none;
        margin: 0 auto 8px;
    }

    .constructor__equals {
        margin: 0 auto 8px;
        box-shadow: none;
    }

    .constructor__numbers {
        margin: 0 auto 8px;
        box-shadow: none;
    }

    .constructor__operations {
        margin: 0 auto 8px;
        box-shadow: none;
    }

    .calculator {
        border: none;
    }
}